/* 
Manuel Schmid
www.kinesiologie-liestal.ch
Start: 02.10.2009
Letzte Aenderung: 25.01.2010
*/


/* Farbschema
---------------------------------------------------------------------------------------
Weiss (Hintergrund Hauptbereich): #FFF (white)
Schwarz (Schrift Text): #000 (black)
Blau (Hintergrund, Titel, Links): #036
Hellgrau (H1, Rahmen): #CCC
Dunkelgrau (Navigation): #999
Violett (besuchte Links): #603
*/


/* Reset
--------------------------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    border: 0;
}


/* Globals und Typo 
--------------------------------------------------------------------------------------- */
a, a:link, a:visited, a:hover {
    color: #036;
    text-decoration: none;
    border-bottom: 1px dotted #036;
}    

a:focus {
    outline: none;
}


/* Vertikaler Rhythmus basierend auf 12px Basisgröße für den Fließtext
--------------------------------------------------------------------------------------- */
h1 {
    color: #036;
    font: 1.8em/1.5em "Trebuchet MS", sans-serif;
    text-align: right;
}

h2 {
    border-bottom: 1px dotted #CCC;
    color: #036;
    font: 1.6em/1.5em "Trebuchet MS", sans-serif;
    margin-bottom: 1em;
    margin-top: 1em;
}

h3 {
    border-bottom: 1px dotted #CCC;
    color: #036;
    font: 1.33em/1.13em "Trebuchet MS", sans-serif;
    margin-bottom: 0.8em;
    margin-top: 1.13em;
}

p {
    font: .8em/1.5em "Trebuchet MS", sans-serif;
    margin: 1.5em 0;
}

#content ul {
    font: .8em/1.5em "Trebuchet MS", sans-serif;
    list-style-position: outside;
    margin: 1.5em 0;
}

#content li {
    margin-left: 1.5em;
}

img, a img {
    border: 0;
    background: none;
}


/* Links- bzw. Rechtsausrichtung für Elemente
--------------------------------------------------------------------------------------- */
.links {
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.rechts {
    float: right;
    margin: 0 0 0.5em 0.5em;
}


/* Layoutelemente
--------------------------------------------------------------------------------------- */
body {
    position: relative;
    margin-top: 25px;
}

h1 {
    position: absolute;
    top: 0;
    right: 0;
}

#nav {
    display: none;
}

#hcard-Rosmarie-Flueckiger-Schmid {
    font: 0.75em/1.3em "Trebuchet MS", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}

#wrapper {
    padding: 130px 0 0;
}

#content {
    list-style-position: inside;
    border-top: 1px solid #036;
    padding-right: 290px;
    padding-top: 40px;
}

.main-image {
    border: 1px solid #CCC;
    padding: 5px;
    width: 250px;
    position: absolute;
    top: 200px;
    right: 0;
}

.main-image a, .main-image a:hover .main-image img {
    background: none;
    border: none;
}

#footer {
    display: none;
}

.inverted #content {
    padding-right: 445px;
}

.inverted .main-image {
    width: 405px;
}