/*
Styles for kinesiologie-liestal.ch
Author: Manuel F. Schmid
.
Start: 14.05.2010
Last Changes: 07.01.2020
.
*/

/* Farbschema
 * --------------------------------
 * Weiss (Hintergrund Hauptbereich): #FFF (white)
 * Schwarz (Schrift Text): #000 (black)
 * Blau (Hintergrund, Titel, Links): #036
 * Hellgrau (H1, Rahmen): #CCC
 * Dunkelgrau (Navigation): #999
 * Violett (besuchte Links): #603
 */

$blue:#036;
$purple:#603;
$grey-light:#ccc;
$grey-dark:#999;


/* Reset
 * --------------------------------
 */

@use "normalize";


/* Globals and typography
 * --------------------------------
 */

html {
  background-color:$blue;
  color:white;
  font-family:'Fira Sans', 'Trebuchet MS', sans-serif;
}

#page {
  background-color:white;
  color:black;
  box-shadow:0 0.2rem 0.5rem black;
  overflow:hidden;
  position:relative;
}

a {
  color:$blue;
  text-decoration: none;
  border-bottom: 1px dotted #036;
  &:visited {
    color:$purple;
    border-color:$purple;
  }
  &:hover {
    background-color:#DDD;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight:600;
  color:$blue;
}

blockquote {
  margin:0;
  opacity:0.7;
}

img, a img {
    border: 0;
    background-color: transparent;
}

ul {
  list-style-type:none;
  margin:0;
  padding:0 0 0 1rem;
  li {
    position:relative;
    &:before {
      content:"–";
      position:absolute;
      left:-1rem;
    }
  }
}

body>header {
  text-align: right;
  opacity:0.8;
}

body>footer {
  text-align:right;
  opacity:0.5;
  a, a:link, a:visited {
    border-bottom:1px dotted white;
    color: inherit;
  }
  a:hover {
    background-color:transparent;
  }
}

nav ul {

  color:$grey-dark;
  text-transform:uppercase;
  letter-spacing:0.05em;
  font-weight:600;
  list-style-type:none;

  li:before {
    content:none;
  }

  a, a:visited {
    display:inline-block;
    color:inherit;
    border-bottom:none;
  }

  a:hover, li.active>a {
    color:white;
    background-color:rgba($blue,0.8);
  }

  ul {
    text-transform:none;
    letter-spacing:0;
  }

  .ancestor>a {
    background-color:$grey-light;
    color:black;
    opacity:0.5;
  }
}

#map-container a, #map-container a:hover {
    background-color: transparent;
    border: none;
}

#notice {
  background-color:rgba(#dc322f, 0.2);
  overflow:hidden;
}


/* Vertical rhythm, based on 1rem
 * --------------------------------
 */

html {
  font-size:1em;
  line-height:1.5;
}

ul, p, {
  margin:0 0 1rem;
}

h1, h2, h3 {
  margin:0 0 0.5rem;
}

h1 {
  font-size:1.75rem;
  line-height:2rem;
  margin-bottom:1.0rem;
}

h2 {
  font-size:1.25rem;
  line-height:1.5rem;
  text-transform:uppercase;
  font-size:inherit;
  letter-spacing:0.03em;
}

body>header {
  font-size:2rem;
  line-height:1.5;
  padding:4rem 0 2rem;
}

body>footer {
  font-size:0.75rem;
  line-height:1rem;
  padding:1rem 0;
}

#sidebar {
  font-size:1rem;
  line-height:1.5;
  padding:1rem 0 0rem;
}

#page {
  padding-bottom:11rem;
}

.vcard {
  position:absolute;
  bottom:0rem;
  margin-top:3rem;
  margin-bottom:2rem;
}

main {
  font-size:1.125rem;
  line-height:1.5rem;
  padding:1.25rem 0 1rem;
  &.home {
    font-size:1.375rem;
    font-size:1.25rem;
    line-height:1.75rem;
  }
}

blockquote {
  font-size:1rem;
  line-height:1.5rem;
}

.main-image {
  margin-bottom:1rem;
  height:20rem;
  overflow:hidden;
}

nav ul {
  font-size:1.5rem;
  line-height:1;
  margin:-0.25rem 0 1rem;
  padding:0;
  a, a:visited {
    margin-top:0.25rem;
    padding-top:0.55rem;
    padding-bottom:0.45rem;
  }
  ul {
    margin:0.25rem 0 0 1.5rem;
    font-size:1rem;
    line-height:1.25rem;
  }
}

#notice {
  font-size:1rem;
  line-height:1.5rem;
  margin-bottom:1rem;
  p {
    position:relative;
    top:0.5rem;
  }
}

@media only screen and (max-width:30em) {
  body>header {
    font-size:1.25rem;
    line-height:2rem;
    padding:2rem 0 1rem;
  }
  #page {
    padding-bottom:8rem; // smaller address
  }
  #sidebar {
    font-size:0.75rem;
    line-height:1rem;
  }
  nav>ul {
    font-size: 1.25rem;
    a, a:visited {
      padding-top:0.25rem;
      padding-bottom:0.25rem;
    }
  }
}

@media only screen and (min-width:50em) {
  #page {
    padding-bottom:0;
  }
  .vcard {
    position:static;
  }
}

@media only screen and (min-width:60em) {
  #sidebar {
    padding-top:5rem;
  }
  main {
    padding-top:3rem;
    padding-bottom:2rem;
  }
}

@media only screen and (min-width:75em) {
  .main-image {
    height:auto;
  }
}


/* Horizontal layout
 * --------------------------------
 */

$site-width:80rem;

body {
  max-width:$site-width;
  margin:0 auto;
  &>header, &>footer {
    margin:0 1rem;
  }
}

#page {
  padding-left:1rem;
  padding-right:1rem;
}

nav ul {
  margin-left:-0.75rem;
  margin-right:-0.5rem;
  a, a:visited {
    margin-left:0.25rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
  }
  ul {
    margin-left:1.5rem;
  }
}

.main-image img {
  display:inline-block;
  width:20rem;
  max-width:100%;
  height:auto;
  &.light {
    opacity:0.75;
  }
}

#map-container {
  display:inline-block;
  height:20rem;
  width:100%;
}

#notice {
  margin-left:-1rem;
  margin-right:-1rem;
  padding-left:1rem;
  padding-right:1rem;
}

@media only screen and (min-width:38em) {
  #sidebar {
    min-height:20rem;
  }
  .main-image {
    position:absolute;
    top:1rem; right:1rem; left:16rem;
    text-align:right;
  }
}

@media only screen and (min-width:50em) {
  #page {
    display:flex;
  }
  #sidebar {
    flex:0 0 16rem;
    min-height:0;
  }
  nav span {
    display:block;
  }
  main {
    flex:1;
  }
  .main-image {
    position:static;
    text-align:left;
  }
}

@media only screen and (min-width:60em) {
  body {
    padding:0 2.5rem;
    &>header, &>footer {
      margin:0;
    }
  }
  #sidebar {
    margin-left:1.5rem;
  }
  main {
    margin-right:1.5rem;
  }
}

@media only screen and (min-width:75em) {
  main {
    padding-right:22rem;
    min-height:32.5rem;
  }

  .main-image {
    position:absolute;
    top:2.5rem; right:2.5rem; left:auto;
    text-align:right;
  }

  // floated block to make space for wider map
  main.map::before {
    content:"";
    display:block;
    float:right;
    height:20rem;
    width:5rem;
  }

  #map-container {
    width:25rem;
  }
}


/* Print styles (separate file)
 * --------------------------------
 */

@media print {
  @import "print";
}
